@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #213867;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-rokkit: var(--font-rokkit)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Geneva, Verdana;
}

.bgHeader {
	background: repeating-linear-gradient(
		135deg,
		#213867,
		#213867 45px,
		#1d2e5b 45px,
		#1d2e5b 85px
	  );
}